name: BreastCancerCI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: mlflow-env
          environment-file: MLProject/conda.yaml
          python-version: 3.12
          auto-activate-base: false

      - name: Install MLflow
        run: |
          pip install mlflow==2.19.0

      - name: Run MLflow Project (bash -l fix)
        shell: bash -l {0}
        run: |
          cd MLProject
          conda activate mlflow-env
          mlflow run .
