name: MLflow CI + Docker Build & Push

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  train-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install MLflow
        run: pip install mlflow scikit-learn pandas

      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run . --no-conda

      - name: Build & Push Docker Image
        run: |
          cd MLProject
          LATEST_RUN=$(mlflow runs list --experiment-id 0 --max-results 1 --query "data.run_id" -o json | jq -r '.[0]')
          mlflow models build-docker \
            -m runs:/$LATEST_RUN/artifacts/model \
            -n fajarwiguna/breast-cancer-ci:latest
          
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker push fajarwiguna/breast-cancer-ci:latest
        env:
          MLFLOW_TRACKING_URI: http://127.0.0.1:5000  # gak ngaruh di CI, cuma buat aman