name: CI - MLFlow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run-mlflow:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install pip and dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U pip setuptools wheel
          pip install mlflow==2.9.2

      - name: Run MLflow Project
        run: |
          mlflow run MLProject
