name: MLflow CI + Docker Push

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  train-and-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.19.0 scikit-learn pandas

      - name: Run MLflow Project (tanpa conda)
        run: |
          cd MLProject
          mlflow run . -P no_conda=true     

      - name: Build & Push Docker Image
        run: |
          cd MLProject
          # Ambil run ID terbaru
          RUN_ID=$(mlflow runs list --experiment-name "Breast_Cancer_CI" --max-results 1 --query "data[0].info.run_id" -o json | tr -d '"')
          echo "Latest Run ID: $RUN_ID"
          
          # Build Docker image
          mlflow models build-docker \
            -m runs:/$RUN_ID/artifacts/model \
            -n fajarwiguna/breast-cancer-ci:latest
          
          # Login & push
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker push fajarwiguna/breast-cancer-ci:latest
          
          echo "Docker image berhasil di-push!"