name: CI - MLFlow

on:
  workflow_dispatch:

jobs:
  run-mlflow:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install MLflow deps
        run: |
          pip install mlflow==2.19.0 scikit-learn pandas numpy

      - name: Install Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: "3.10"

      - name: Enable conda for MLflow
        run: |
          eval "$(conda shell.bash hook)"

      - name: Run MLflow project
        run: |
          mlflow run MLProject
